/*
	Project Name: Netflix
	Project URI: https://archie15.github.io/
	Description: This is a streaming service with listing of top 100 movies
	Version: 1.0.0
	Author:	Archie Cimafranca
	Author URI:	https://archie15.github.io/ 
*/

$font-fam-reg: "Myriad Pro Regular";
$font-fam-light: "Myriad Pro Light";
$font-fam-bold: "Myriad Pro Bold";
$font-fam-cond: "Myriad Pro Condensed";
$font-fam-bold-cond: "Myriad Pro Bold Condensed";

$box-shadow: inset 0 0 0 1px #c4c4c4;
$bg-color1: #0f0f11;
$border-select: 1px solid #ff0000;

html {
  margin: 0;
  padding: 0;
  font-family: $font-fam-reg;
  font-size: 14px;
}

input {
  [type="text"] {
    outline: none;

    &:focus {
      outline: none;
      box-shadow: $box-shadow;
    }
  }
}

.header {
  background: $bg-color1;

  .navbar {
    padding-top: 1.5rem;
    box-shadow: none;
    z-index: 1000;
  }

  .navbar-expand-lg .navbar-nav {
    padding-left: 10px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    font-family: $font-fam-light;
    font-size: 15px;
  }

  .navbar__main .nav-link {
    color: #c4c4c4;
    font-weight: 400;
  }
  .navbar__main .nav-link:hover {
    color: #ffffff;
  }
  .navbar__main .active .nav-link {
    color: #ffffff;
  }

  .navbar__main .nav-item {
    padding-left: 30px;
    padding-right: 20px;
  }

  .navbar__icons li {
    padding-left: 5px;
  }
  .navbar__icons li a.nav-link {
    color: #ffffff;
  }
  .navbar__icons li a.nav-link:hover {
    color: #c4c4c4;
  }

  &__sub {
    position: relative;
    z-index: 1005;

    .title {
      font-family: $font-fam-reg;
      font-size: 24px;
      font-weight: 400;
      display: inline-flex;
    }

    .chosen-wrapper {
      margin-top: 5px;
      width: 200px;
      color: #ffffff;

      .chosen-container-single .chosen-default {
        background: #000000;
        color: #ffffff;
      }

      .chosen-single {
        background: #000000;
      }

      .chosen-container-single .chosen-single {
        box-shadow: none;
        background: #000000;
        color: #ffffff;
        padding: 3px 3px 3px 15px;
        height: 32px;
        border: 1px solid #aaa;
        border-radius: 15px;
        text-align: left;
      }

      .chosen-container .chosen-drop {
        box-shadow: none;
        background: #000000;
        color: #ffffff;
        border: $border-select;
      }

      .chosen-container-active.chosen-with-drop.chosen-single {
        border: $border-select;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        color: #ffffff;
      }
    } //chosen-wrapper

    .chosen-container-single .chosen-single div {
      position: absolute;
      top: 5px;
      right: 0;
      display: block;
      width: 18px;
      height: 100%;
      color: #ffff;
    }

    .chosen-container .chosen-results {
      color: #ffffff;
      text-align: left;
    }

    .is-active .chosen-container-single .chosen-single {
      border-top: $border-select;
      border-bottom: 0;
      border-left: $border-select;
      border-right: $border-select;
      background: #000000;
      border-radius: 15px 15px 0 0;
    }

    .is-active .chosen-container .chosen-drop {
      border-top: 0;
      border-bottom: $border-select;
      border-left: $border-select;
      border-right: $border-select;
    }

    .chosen-container-active.chosen-with-drop .chosen-single {
      box-shadow: none;
    }

    .genre__header--select {
      width: 150px;
    }
  } //sub

  .genre__header {
    &--select {
      width: 150px;
    }
  }

  &__sortby {
    text-align: right;
    .sortby__list {
      list-style-type: none;

      li {
        display: inline-flex;
      }
    }

    .select__recommended {
      text-align: left;
      width: 220px;
    }
  } //sortby

  .carousel-inner,
  .carousel-item,
  .carousel-item.active {
    height: 100vh;
  }

  &__carousel {
    .carousel-item:nth-child(1) {
      background-image: url("../img/slider_01.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
    .carousel-item:nth-child(2) {
      background-image: url("../img/slider_02.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

    .carousel-item:nth-child(3) {
      background-image: url("../img/slider_01.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

    .carousel-item:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: linear-gradient(
        to bottom,
        rgba(21, 21, 24, 0) 0%,
        rgba(21, 21, 24, 1) 100%
      );
      opacity: 1;
    }

    .serie_presents {
      &--illu {
        text-transform: uppercase;
        font-size: 26px;
        margin: 0;
        padding: 0;
        letter-spacing: -1.2px;
        font-family: $font-fam-cond;
        text-shadow: 2px 2px 5px #381008;

        sub {
          font-size: 15px;
        }
      }

      &--actor {
        color: #f71d0f;
        font-size: 60px;
        text-transform: uppercase;
        font-weight: 800;
        line-height: 70px;
        letter-spacing: -1px;
        font-family: $font-fam-bold-cond;
        text-shadow: 2px 2px 5px #381008;

        span {
          font-size: 95px;
          display: block;
        }
      }
    }

    .serie__description {
      width: 42%;
      font-size: 17px;
    }
  } //carousel

  .carousel-indicators {
    margin-bottom: 7rem;
  }

  .btn--watch {
    margin-right: 20px;
  }
  .btn--watch i {
    padding-right: 10px;
  }
  .btn-primary {
    background-color: #ffffff;
    border: none;
    color: #000000;
    padding: 12px 35px 12px 30px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 24px;
    font-weight: bold;

    &:hover {
      background-color: #000000;
      border: none;
      color: #ffffff;
      padding: 12px 35px 12px 30px;
      font-size: 14px;
      cursor: pointer;
      border-radius: 24px;
      font-weight: bold;
    }

    &:focus {
      background-color: #000000;
      border: none;
      color: #ffffff;
      padding: 12px 35px 12px 30px;
      font-size: 14px;
      cursor: pointer;
      border-radius: 24px;
      font-weight: bold;
    }

    &:visited {
      background-color: #000000;
      border: none;
      color: #ffffff;
      padding: 12px 35px 12px 30px;
      font-size: 14px;
      cursor: pointer;
      border-radius: 24px;
      font-weight: bold;
    }
  } //end btn-primary

  .btn--add_list {
    margin-right: 20px;
  }
  .btn--add_list i {
    padding-right: 10px;
  }

  .btn-secondary {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    color: #ffffff;
    padding: 12px 35px 12px 30px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 24px;
    font-weight: bold;

    &:hover {
      background-color: #ffffff;
      border: none;
      color: #000000;
      padding: 12px 35px 12px 30px;
      font-size: 14px;
      cursor: pointer;
      border-radius: 24px;
      font-weight: bold;
      opacity: 1;
    }

    &:focus {
      background-color: #ffffff;
      border: none;
      color: #000000;
      padding: 12px 35px 12px 30px;
      font-size: 14px;
      cursor: pointer;
      border-radius: 24px;
      font-weight: bold;
    }

    &:visited {
      background-color: #ffffff;
      border: none;
      color: #000000;
      padding: 12px 35px 12px 30px;
      font-size: 14px;
      cursor: pointer;
      border-radius: 24px;
      font-weight: bold;
    }
  }
} //end header

.main {
  width: 100%;
  height: auto;
  background: #151518;
  padding-bottom: 50px;

  h1.title {
    color: #ffffff;
    font-size: 28px;
    font-weight: 400;
  }

  .search__results {
    margin-top: 50px;
  }

  .search-keyword {
    width: 300px;
    background: #000000;
    color: #ffffff;
    border-radius: 12px;
    border: 1px solid #ececec;
    padding: 4px 8px;

    &:focus {
      background: #000000;
      color: #ffffff;
      border: 1px solid #ececec;
      outline: none;
    }

    &:active {
      background: #000000;
      color: #ffffff;
      border: 1px solid #ececec;
      outline: none;
    }
  }

  .bxslider {
    div img {
      border-radius: 10px;
      -webkit-filter: drop-shadow(0px 0px 5px #0e0e10);
      filter: drop-shadow(0px 0px 5px #0e0e10);
    }
  }
  .bx-wrapper {
    -moz-box-shadow: 0 0 5px #0e0e10;
    -webkit-box-shadow: none;
    position: relative;
    margin-bottom: 0;
    padding: 0;
    *zoom: 1;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    border: none;
    background: transparent;
    filter: drop-shadow(0px 10px 10px #0e0e10);

    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: linear-gradient(
        to bottom,
        rgba(14, 14, 16, 0) 0%,
        rgba(14, 14, 16, 1) 100%
      );
      opacity: 1;
    }

    .bx-loading {
      background: linear-gradient(
        to bottom,
        rgba(14, 14, 16, 0) 0%,
        rgba(14, 14, 16, 1) 100%
      );
    }

    .bx-controls-direction a {
      height: 85px;
    }
    .bx-prev {
      left: 10px;
      background: url("../img/btn-prev.png") no-repeat -50px 0;
    }
    .bx-next {
      right: 10px;
      background: url("../img/btn-next.png") no-repeat 0 0;

      &:hover {
        background: url("../img/btn-next.png") no-repeat -58px 0;
      }
      &:focus {
        background: url("../img/btn-next.png") no-repeat -58px 0;
      }
    }
  }

  .img__container {
    position: relative;
    width: 100%;
    margin: 0 auto;

    .img__image {
      opacity: 1;
      display: block;
      width: 100%;
      height: auto;
      transition: 0.5s ease;
      backface-visibility: hidden;
    }

    .img__middle {
      transition: 0.5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }
    &:hover .img__image {
      opacity: 0.3;
    }

    &:hover .img__middle {
      opacity: 1;
    }
  }

  .btn--details {
    background: #ffffff;
    color: #000000;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: bold;
  }

  .movie--trailer {
    width: 100%;
    height: 100%;
  }
} //end main

.footer {
  width: 100%;
  height: auto;
  background: #151518;
  padding: 50px 0;

  ul.footer__menus {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      padding: 5px 0;
      font-size: 12px;

      a {
        color: #53535b;
        text-decoration: none;
      }
      &:hover {
        color: #ffffff;
      }
    }
  }

  &_social {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      height: 34px;
      display: inline-flex;
      margin: 0 10px;
    }

    &--fb {
      width: 34px;
      background: url("../img/icon-facebook.png") 0 0;
      cursor: pointer;

      a {
        width: 34px;

        &:hover {
          background: url("../img/icon-facebook.png") 0px -44px;
        }
      }
    }

    &--insta {
      width: 33px;
      background: url("../img/icon-instagram.png") 0 0;

      a {
        width: 34px;

        &:hover {
          background: url("../img/icon-instagram.png") 0px -44px;
        }
      }
    }

    &--tw {
      width: 40px;
      background: url("../img/icon-twitter.png") 0 0;

      a {
        width: 40px;

        &:hover {
          background: url("../img/icon-twitter.png") 0px -44px;
        }
      }
    }

    &--yt {
      width: 42px;
      background: url("../img/icon-youtube.png") 0 0;

      a {
        width: 42px;

        &:hover {
          background: url("../img/icon-youtube.png") 0px -44px;
        }
      }
    }
  } //social-icons
} //end footer

.movie--trailer {
  width: 100%;
  height: 100%;
}

#movie_trailer {
  overflow: hidden;
}

.movie__details {
  font-size: 14px;
  color: #444444;
}

.movie__summary {
  font-size: 16px;
  color: #000000;
}

.modal-artist {
  color: #333333;
}

#movie_title {
  color: #fd0d1e;
}

.movie__options {
  margin-top: 20px;
  font-size: 18px;
}

.movie--image {
  padding-bottom: 25px;
}
.modal-dialog-full-width {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: none;
}

.modal-content-full-width {
  height: auto;
  min-height: 100%;
  border-radius: 0;
  background-color: #ececec;
}

.modal-header-full-width {
  border-bottom: 1px solid #9ea2a2;
}

.modal-footer-full-width {
  border-top: 1px solid #9ea2a2;
}

#movie_trailer {
  overflow: hidden;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 500px) {
  .header {
    &__sortby {
      .sortby__list {
        padding: 0;
      }
    }

    &__sub {
      .chosen-wrapper {
        margin-top: 5px;
        width: 200px;
        color: #ffffff;

        .chosen-container-single .chosen-single {
          width: 85%;
        }

        .chosen-container {
          .chosen-drop {
            width: 85%;
          }
        }
      }

      &__genre {
        .genre__header {
          width: 60%;
        }
      }
    }
  }

  .header__carousel {
    .carousel-item {
      text-align: center;
    }

    .serie_presents {
      &--illu {
        font-size: 20px;
        letter-spacing: -1.2px;
        font-family: $font-fam-cond;
        text-shadow: 2px 2px 5px #333333;

        sub {
          font-size: 15px;
        }
      }

      &--actor {
        font-size: 55px;
        font-weight: 800;
        line-height: 1;
        letter-spacing: -5px;
        font-family: $font-fam-bold-cond;
        text-shadow: 2px 2px 5px #333333;
      }
    }

    .serie__description {
      width: 100%;
      text-align: center;
      font-size: 15px;
    }
    .serie__buttons {
      padding-top: 2rem;
      text-align: center;
    }
    .carousel-indicators {
      margin-bottom: 2rem;
    }
  }

  .footer {
    ul.footer__menus {
      margin: 10px;
      text-align: center;

      li {
        padding: 0;
        font-size: 14px;
      }

      .img__text {
        font-size: 10px;
        padding: 4px;
      }

      .main__wrap--title {
        font-size: 24px;
        text-align: center;
      }
    }
  }

  .btn-primary {
    padding: 10px 30px 10px 20px;
    font-size: 14px;
    border-radius: 24px;

    &:hover {
      padding: 10px 30px 10px 20px;
      font-size: 14px;
      border-radius: 24px;
    }
  }

  .btn-secondary {
    padding: 10px 30px 10px 20px;
    font-size: 14px;
    border-radius: 24px;
    margin-top: 5px;

    &:hover {
      padding: 10px 30px 10px 20px;
      font-size: 14px;
      border-radius: 24px;
    }
  }

  .movie__details {
    margin: 30px auto;
    text-align: center;
  }

  .movie__options {
    text-align: center;
  }

  .chosen-wrapper {
    width: 75%;
  }

  .img__container {
    .btn--details {
      padding: 8px 10px;
      font-size: 10px;
    }
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /*
  */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #banner__carousel {
    margin-top: -130px;
  }
}

@media only screen and (max-width: 1199px) {
  .header {
    &__sub {
      .title {
        font-size: 20px;
      }
    }

    .btn-primary {
      padding: 10px 25px 8px 20px;
      font-size: 12px;

      &:hover {
        padding: 10px 25px 8px 20px;
        font-size: 12px;
      }
    }

    .btn-secondary {
      padding: 10px 25px 8px 20px;
      font-size: 12px;

      &:hover {
        padding: 10px 25px 8px 20px;
        font-size: 12px;
      }
    }

    &__carousel {
      .serie_presents--illu {
        font-size: 26px;
      }

      .serie__description {
        width: 100%;
        font-size: 15px;
        margin: 25px 0;
      }

      .serie_presents--actor {
        font-size: 50px;
        font-weight: 800;
        line-height: 55px;
        letter-spacing: -1px;

        span {
          font-size: 85px;
          display: block;
        }
      }
    }
  } //header

  .main {
    .title {
      margin-top: 25px;
    }
  }
}
